<% starts_at = event.data.starts_at %>
<% ends_at = event.data.ends_at %>

<% event_thumbnail = event.data.thumbnail.present? ? event.data.thumbnail : event.data.tag_thumbnail %>

<div id="<%= event.relative_path.basename(".*").to_s %>"
     tabindex="0"
     class="relative rounded-xl min-h-[208px] overflow-hidden"
     data-search-target="querable"
     data-search-keys="<%= event_search_keys event %>"
     data-filter-target="filterable"
     data-filter-city="<%= event.data.location&.city %>"
     data-filter-tag="<%= event.taxonomies.tag.terms.map { |t| t.label }.inspect %>"
     data-filter-time-starts="<%= starts_at.iso8601 %>"
     data-filter-time-ends="<%= ends_at&.iso8601 %>"
>
  <div class="absolute w-full h-full rounded-xl overflow-hidden will-change-transform">
    <% if event_thumbnail %>
      <img src="<%= relative_url event_thumbnail %>"
           loading="lazy"
           class="absolute top-0 left-0 w-full h-full z-0 object-cover object-center opacity-20"
      >
    <% else %>
      <div class="absolute top-0 left-0 h-full w-full z-0 opacity-20"
           style="background: <%= event.data.gradient_thumbnail %>"
      ></div>
    <% end %>

    <div class="absolute z-0 w-full h-full backdrop-blur-sm"></div>
  </div>

  <div class="p-4 relative h-full flex flex-col gap-4">
    <div class="grid grid-cols-[max-content,1fr]">
      <div class="flex gap-1.5 items-start">
        <div class="aspect-square w-12 rounded-lg relative"
             style="background-color: <%= month_for_date(starts_at).data.color %>"
        >
          <p class="text-xl sm:text-2xl font-medium text-center absolute top-0.5 left-0 right-0">
            <%= starts_at.day %>
          </p>
          <p class="text-xs text-fg-primary text-center absolute bottom-0.5 left-0 right-0">
            <% if locals[:current_month].blank? %>
              <a href="<%= relative_url month_for_date(starts_at) %>">
                <%= l(starts_at, format: "%b").humanize %>
              </a>
            <% elsif month_for_date(starts_at) == current_month %>
              <%= l(starts_at, format: "%a").humanize %>
            <% else %>
              <a href="<%= relative_url month_for_date(starts_at) %>">
                â† <%= l(starts_at, format: "%b").humanize %>
              </a>
            <% end %>
          </p>
        </div>

        <% if event_with_multiple_days? event %>
          <div class="aspect-square w-12 rounded-lg relative"
               style="background-color: <%= month_for_date(ends_at).data.color %>"
          >
            <p class="text-xl sm:text-2xl font-medium text-center absolute top-0.5 left-0 right-0">
              <%= ends_at.day %>
            </p>
            <p class="text-xs text-fg-primary text-center absolute bottom-0.5 left-0 right-0">
              <% if locals[:current_month].blank? %>
                <a href="<%= relative_url month_for_date(ends_at) %>">
                  <%= l(ends_at, format: "%b").humanize %>
                </a>
              <% elsif month_for_date(ends_at) == current_month %>
                <%= l(ends_at, format: "%a").humanize %>
              <% else %>
                <a href="<%= relative_url month_for_date(ends_at) %>">
                  <%= l(ends_at, format: "%b").humanize %> â†’
                </a>
              <% end %>
            </p>
          </div>
        <% end %>
      </div>

      <div class="flex flex-col items-end gap-1">
        <p class="font-medium uppercase flex items-center gap-1">
          <span class="material-symbols-outlined icon-outline icon-sm">place</span>
          <span class="line-clamp-1"><%= event.data.location.city %></span>
        </p>

        <div class="text-fg-secondary flex gap-1">
          <% event.taxonomies.tag.terms.each do |tag| %>
            <span class="material-symbols-outlined icon-sm">
              <%= event_tag_details(tag).icon %>
            </span>
          <% end %>
        </div>
      </div>
    </div>

    <h4 class="flex-grow text-xl sm:text-2xl font-medium sm:line-clamp-2">
      <%= event.data.title %>
    </h4>

    <%= render "event/actions", event: event %>
  </div>
</div>
